:root {
    --primary-color: #0066cc;
    --text-color: #040404;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html,
body {
    font-size: 0.62rem;
}

.main {}

.app__header {
    width: 100%;
    border-bottom: solid 2px #ccc;
    background-color: #fff;
}

.navBar {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    cursor: pointer;
}

.navBar-list {
    display: flex;
    list-style: none;
}

.navBar--items {
    padding: 10px 10px;
    font-size: 1.8rem;
    position: relative;
    text-transform: capitalize;
    color: var(--text-color);
}

.navBar--items::after {
    content: '';
    padding-top: 5px;
    top: 80%;
    left: 10px;
    width: 0px;
    background-color: var(--primary-color);
    position: absolute;
    display: block;
}

.navBar--items:hover :after {
    width: 70px;
}

.navbar--link {
    text-decoration: none;
    color: inherit;
}

.account-list {
    position: absolute;
    width: 150px;
    display: none;
    list-style: none;
    padding: 4px;
    color: var(--text-color);
    top: 100%;
    left: 0px;
    box-shadow: #414141;
    background-color: white;
}

.navBar--items:hover .account-list {
    display: block;
}

.account--item {
    padding: 5px 0px;
    border-bottom: solid 1px #ccc;
}