:root {
    --primary-color: #0066cc;
    --text-color: #414141;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html,
body {
    font-size: 0.62rem;
}

.main {}

.app__header {
    width: 100%;
}

.navBar {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    cursor: pointer;
}

.navBar-list {
    display: flex;
    list-style: none;
}

.navBar--items {
    padding: 0px 10px;
    font-size: 1.8rem;
    position: relative;
}

.navbar--link {
    color: var(--text-color);
    text-decoration: none;
    text-transform: capitalize;
}

.account-list {
    position: absolute;
    width: 150px;
    display: none;
    list-style: none;
    padding: 4px;
    box-shadow: #414141;
}

.account--item {
    padding: 5px 0px;
    border-bottom: solid 1px #ccc;
}