.app__content {
    padding-top: 20px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.content-table {
    padding: 10px;
    width: 100%;
    font-size: 1.5rem;
    border: solid 1px #ccc;
}

.table--item {
    align-items: center;
    border: solid 1px #ccc;
}

.table--item-impotain {
    border: solid 1px #ccc;
    text-transform: capitalize;
}

.table-date--item {
    display: block;
    font-weight: 300;
    background-color: #ccc;
    font-size: 1.3rem;
    width: 14px;
    height: 14px;
    padding: 5px;
    border-radius: 50%;
    margin: auto;
}

.dateSearch--input {
    font-size: 1.6rem;
    width: 240px;
}

.search--btn {
    color: #fff;
    font-size: 1.6rem;
    background-color: var(--primary-color);
    padding: 5px;
    border: none !important;
    border-radius: 5px;
}