.heading-content {
    position: relative;
}

.heading-search {
    width: 240px;
}

.search-input {
    font-size: 1.6px;
    padding: 10px;
    width: 240px;
}

.search-btn {
    font-size: 1.8rem;
}